

body{

display: flex;
justify-content: center;


}


#containerGame{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 1px solid black;
width: 500px;
height: 500px;
background-color: grey;

}

#game{

border: 1px solid black;
width:300px;
height:300px;
background-color: black;


}






#containerBtn{
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;



height: 100px;
width:180px;
border: 1px solid black;


}

#containerMiddleBtn{
    display: flex;
    
    /* justify-content:space-between; */
    
border: 1px solid black ;


}

input{
width:50px; 
height:30px; 


}

#ihigh{
background-color: blueviolet;
margin-bottom: auto;


}

#ileft{
  background-color: red;
  margin-left: auto;

  
  
  
}



#iright{

  background-color: red;
  /* margin-right: auto; */
  top:50%;



}

#idown{
background-color: aquamarine;
margin-top: auto;


}

#affichage{
  display: flex;
  flex-direction:row ;
  border:1px solid black;
  
  
  
}





